services:
  traefik-pihole-dns-sync:
    image: ghcr.io/rpressiani/traefik-pihole-dns-sync:latest
    container_name: traefik-pihole-dns-sync
    restart: unless-stopped
    environment:
      - TRAEFIK_API_URL=http://traefik:8080/api/http/routers
      - PIHOLE_URL=http://pihole:80
      - PIHOLE_PASSWORD=Tissue8-Envoy2-Acetone7-Puppy5-Juggling8
      - TRAEFIK_HOST_IP=192.168.1.100
      - SYNC_INTERVAL=@every 5m
      - LOG_LEVEL=info
    networks:
      - traefik-net

networks:
  traefik-net:
    external: true
