services:
  jellyseerr:
    image: ghcr.io/seerr-team/seerr:latest
    container_name: jellyseerr
    init: true
    environment:
      - LOG_LEVEL=info
      - TZ=Europe/London
    ports:
      - 5055:5055
    volumes:
      - /home/pi/apps/jellyseerr:/app/config
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.jellyseerr.loadbalancer.server.port=5055"
    networks:
      - traefik-net

networks:
  traefik-net:
    external: true
